.node {
  cursor: pointer;
}

.overlay{
    background-color:white;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circleRequired {
  fill: #fff;
  stroke: red;
  stroke-width: 1.5px;
}

.node text {
  font-size:10px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

div.tooltip-ols {
  position: fixed;
  text-align: justify;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  max-width: 600px;
  max-height: 200px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 9000;
}

div.tooltip {

}


.list-group-item {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0px;
}
